/* ============ header부분 */
html,body * {transition:all 0.3s;}
header {background-color:#fff; position:sticky; top:-50px; left:0; z-index:900;}
header .top_ad {
    width:100%; height:50px;
    background:url(../images/main/ad.png) center;
}
header .top_ad p {text-align:center; line-height:50px; font-size:1.125rem; font-weight:600;}
header .gnb_wrap {
    width:100%; height:80px; padding:0 120px;
    display:flex; flex-flow:column nowrap; justify-content:center;
}
header .gnb_wrap .bottom_header {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    position:relative;
}
header .gnb_wrap .bottom_header h1 {}
header .gnb_wrap .bottom_header h1 a {}
header .gnb_wrap .bottom_header h1 a img {}
header .gnb_wrap .bottom_header .gnb {
    display:flex; flex-flow:row nowrap; gap:60px;
    position:absolute; left:50%; transform:translateX(-50%);
}
header .gnb_wrap .bottom_header .gnb li {}
header .gnb_wrap .bottom_header .gnb li a {
    display:block; font-size:0.875rem; width:42px; line-height:80px;
}
header .gnb_wrap .bottom_header .gnb li:nth-of-type(1) {
    display:flex; flex-flow:row nowrap; gap:60px; line-height:80px;
}
header .gnb_wrap .bottom_header .gnb li:nth-of-type(1) a {font-weight:1000;}
header .gnb_wrap .bottom_header .gnb li:nth-of-type(1):after {
    display:inline-block; content:'|';
}
header .gnb_wrap .bottom_header .right_menu {
    display:flex; flex-flow:row nowrap; gap:10px;
}
header .gnb_wrap .bottom_header .right_menu a {}
header .gnb_wrap .bottom_header .right_menu a:last-of-type {display:none;}
header .gnb_wrap .bottom_header .right_menu a img {}
/* ============ footer부분 */
footer {background-color:#222; padding:80px 0;}
footer * {color:#fff;}
footer .footer_all {
    width:1250px; margin:0 auto; display:flex; flex-flow:row nowrap; justify-content:space-between;
}
footer .footer_all .left {}
footer .footer_all .left .fnb {
    display:flex; flex-flow:row nowrap; gap:50px; align-items:center; margin-bottom:30px;
}
footer .footer_all .left .fnb h1 {}
footer .footer_all .left .fnb h1 a {}
footer .footer_all .left .fnb h1 a img {}
footer .footer_all .left .fnb > a {font-size:0.75rem;}
footer .footer_all .left .fnb .brand_info {}
footer .footer_all .left .fnb .recruitment {}
footer .footer_all .left .fnb .terms {}
footer .footer_all .left .fnb .personal {}
footer .footer_all .left .fnb .cs {}
footer .footer_all .left .fnb .benefits {}
footer .footer_all .left .fnb .affiliates {}
footer .footer_all .left .bottom {
    display:flex; flex-flow:column nowrap; gap:10px;
}
footer .footer_all .left .bottom .drg {margin-bottom:10px;}
footer .footer_all .left .bottom .drg * {font-size:0.75rem;}
footer .footer_all .left .bottom .drg span:nth-of-type(1) {}
footer .footer_all .left .bottom .drg span:nth-of-type(1)::after {content:'|'; margin:0 10px;}
footer .footer_all .left .bottom .drg span:nth-of-type(2) {}
footer .footer_all .left .bottom address {font-size:0.625rem;}
footer .footer_all .left .bottom .com_info {
    display:flex; flex-flow:row nowrap; align-items:center;
}
footer .footer_all .left .bottom .com_info * {font-size:0.625rem;}
footer .footer_all .left .bottom .com_info span {}
footer .footer_all .left .bottom .com_info span::after {content:'|'; margin:0 10px;}
footer .footer_all .left .bottom .com_info span:nth-of-type(1) {}
footer .footer_all .left .bottom .com_info span:nth-of-type(2) {}
footer .footer_all .left .bottom .com_info span:nth-of-type(3) {margin-right:10px;}
footer .footer_all .left .bottom .com_info span:nth-of-type(3)::after {display:none;}
footer .footer_all .left .bottom .com_info a {border:1px solid #fff; padding:5px 10px;}
footer .footer_all .left .bottom .com_info .business_info {margin:0 10px;}
footer .footer_all .left .bottom .com_info .business_info img {margin-left:10px;}
footer .footer_all .left .bottom .com_info .sustainable {}
footer .footer_all .left .bottom .com_info .sustainable img {margin-left:10px;}
footer .footer_all .left .bottom .language {display:flex; flex-flow:row nowrap; align-items:center; gap:30px;}
footer .footer_all .left .bottom .language * {font-size:0.625rem;}
footer .footer_all .left .bottom .language a {
    border-bottom:1px solid #fff; padding:5px 0;
    display:flex; flex-flow:row nowrap; align-items:center; gap:50px;
}
footer .footer_all .left .bottom .language a span {display:flex; flex-flow:row nowrap; align-items:center;}
footer .footer_all .left .bottom .language a span img {margin-right:10px;}
footer .footer_all .left .bottom .language a > img {}
footer .footer_all .left .bottom .language > span {}
footer .footer_all aside {}
footer .footer_all aside .sns {display:flex; flex-flow:row nowrap; gap:10px; margin-bottom:30px;}
footer .footer_all aside .sns img {}
footer .footer_all aside .sns .facebook {}
footer .footer_all aside .sns .insta {}
footer .footer_all aside .sns .kakao {}
footer .footer_all aside .sns .youtube {}
footer .footer_all aside .cs_center {
    display:flex; flex-flow:column nowrap; gap:10px;
}
footer .footer_all aside .cs_center p {}
footer .footer_all aside .cs_center .call {font-size:0.75rem;}
footer .footer_all aside .cs_center .call a {}
footer .footer_all aside .cs_center .week {font-size:0.625rem;}
footer .footer_all aside .cs_center .lunch {font-size:0.625rem;}
footer .footer_all aside .cs_center .holiday {font-size:0.625rem;}