main {}
main .wrap {}
main .wrap .path {
    border-bottom:1px solid #aaa; border-top:1px solid #aaa;
    height:50px; padding:0 335px 0;
    display:flex; flex-flow:row nowrap; justify-content:start; gap:30px; align-items:center;
}
main .wrap .path > a {font-weight:800; font-size:0.75rem;}
main .wrap .path > span {color:#aaa; font-size:0.875rem;}
main .wrap .path .home {}
main .wrap .path .path_all {}
main .wrap .path .path_best {font-weight:400;}
main .wrap .item_detail {padding:80px 0; display:flex; flex-flow:row nowrap; justify-content:center;}
main .wrap .item_detail .item_img {display:flex; flex-flow:row nowrap; gap:10px;}
main .wrap .item_detail .item_img .small {display:flex; flex-flow:column nowrap; gap:20px;}
main .wrap .item_detail .item_img .small a {}
main .wrap .item_detail .item_img .small a img {}
main .wrap .item_detail .item_img .big {}
main .wrap .item_detail .item_img .big img {}
main .wrap .item_detail .order {width:520px; height:600px;}
main .wrap .item_detail .order .path_category {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center; margin-bottom:30px;
}
main .wrap .item_detail .order .path_category .best {display:flex; flex-flow:row nowrap; align-items:center; gap:10px;}
main .wrap .item_detail .order .path_category .best span {font-size:0.75rem;}
main .wrap .item_detail .order .path_category .best img {}
main .wrap .item_detail .order .path_category .right {display:flex; flex-flow:row nowrap; align-items:center; gap:10px;}
main .wrap .item_detail .order .path_category .right .share {}
main .wrap .item_detail .order .path_category .right .share img {}
main .wrap .item_detail .order .path_category .right .like {}
main .wrap .item_detail .order .path_category .right .like img {}
main .wrap .item_detail .order h1 {font-size:1.5rem; font-weight:600;}
main .wrap .item_detail .order p {margin:20px 0; font-size:0.875rem; color:#555555;}
main .wrap .item_detail .order .tag_review {display:flex; flex-flow:row nowrap;}
main .wrap .item_detail .order .tag_review .tag {}
main .wrap .item_detail .order .tag_review .tag::after {
    content:'|'; color:#aaa; font-size:0.875rem; margin:0 20px;
}
main .wrap .item_detail .order .tag_review .tag a {
    font-size:0.75rem; line-height:1.2; margin-right:10px;
    border:1px solid #000; border-radius:12px; padding:3px 10px;
}
main .wrap .item_detail .order .tag_review .tag a:last-of-type {margin-right:0;}
main .wrap .item_detail .order .tag_review .review {display:flex; flex-flow:row nowrap; align-items:center; gap:5px;}
main .wrap .item_detail .order .tag_review .review .score {}
main .wrap .item_detail .order .tag_review .review .score em {margin-right:-3px;}
main .wrap .item_detail .order .tag_review .review .score em:last-of-type {margin-right:0;}
main .wrap .item_detail .order .tag_review .review .score em img {}
main .wrap .item_detail .order .tag_review .review .num {margin-left:5px; font-size:0.75rem;}
main .wrap .item_detail .order .tag_review .review span:nth-of-type(2) {}
main .wrap .item_detail .order .price {
    margin:30px 0; padding:30px 0; border-top:1px solid #aaa; border-bottom:1px solid #aaa;
}
main .wrap .item_detail .order .price li {
    margin-bottom:30px; display:flex; flex-flow:row nowrap; justify-content:space-between;
}
main .wrap .item_detail .order .price li:last-of-type {margin-bottom:0;}
main .wrap .item_detail .order .price li * {font-size:0.875rem;}
main .wrap .item_detail .order .price li:first-of-type {}
main .wrap .item_detail .order .price li:first-of-type span {}
main .wrap .item_detail .order .price li:first-of-type del {}
main .wrap .item_detail .order .price li:nth-of-type(2) {}
main .wrap .item_detail .order .price li:nth-of-type(2) span {}
main .wrap .item_detail .order .price li:nth-of-type(2) .sale {}
main .wrap .item_detail .order .price li:nth-of-type(2) .sale span:first-of-type {font-size:1.125rem; font-weight:800; margin-right:15px;}
main .wrap .item_detail .order .price li:nth-of-type(2) .sale span:last-of-type {font-size:1rem; font-weight:800; color:#005D3E;}
main .wrap .item_detail .order .price li:nth-of-type(3) {}
main .wrap .item_detail .order .price li:nth-of-type(3) span:first-of-type {}
main .wrap .item_detail .order .price li:nth-of-type(3) span:last-of-type {}
main .wrap .item_detail .order .price li:nth-of-type(4) {}
main .wrap .item_detail .order .price li:nth-of-type(4) span:first-of-type {}
main .wrap .item_detail .order .price li:nth-of-type(4) .plus_minus {width:75px; display:flex; flex-flow:row nowrap; align-items:center;}
main .wrap .item_detail .order .price li:nth-of-type(4) .plus_minus #minus {}
main .wrap .item_detail .order .price li:nth-of-type(4) .plus_minus input {text-align:center; width:100%;}
main .wrap .item_detail .order .price li:nth-of-type(4) .plus_minus #plus {}
main .wrap .item_detail .order .total {display:flex; flex-flow:row nowrap; justify-content:space-between;}
main .wrap .item_detail .order .total span {font-weight:600;}
main .wrap .item_detail .order .total .total_price {font-weight:900; font-size:1.5rem;}
main .wrap .item_detail .order .buy_btn {display:flex; flex-flow:row nowrap; justify-content:space-between; margin-top:64px;}
main .wrap .item_detail .order .buy_btn button {color:#fff; width:250px; height:50px;}
main .wrap .item_detail .order .buy_btn #cart {background-color:#aaaaaa;}
main .wrap .item_detail .order .buy_btn #buy {background-color:#005D3E;}