/* ============ header부분 */
html,body * {transition:all 0.3s;}
header {}
header .top_ad {
    width:100%; height:50px;
    background:url(../images/main/ad.png) center;
}
header .top_ad p {text-align:center; line-height:50px; font-size:1.125rem; font-weight:600;}
header .gnb_wrap {
    width:100%; height:80px; padding:0 120px;
    display:flex; flex-flow:column nowrap; justify-content:center;
}
header .gnb_wrap .bottom_header {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    position:relative;
}
header .gnb_wrap .bottom_header h1 {}
header .gnb_wrap .bottom_header h1 a {}
header .gnb_wrap .bottom_header h1 a img {}
header .gnb_wrap .bottom_header .gnb {
    display:flex; flex-flow:row nowrap; gap:60px;
    position:absolute; left:50%; transform:translateX(-50%);
}
header .gnb_wrap .bottom_header .gnb li {}
header .gnb_wrap .bottom_header .gnb li a {
    display:block; font-size:0.875rem; width:42px; line-height:80px;
}
header .gnb_wrap .bottom_header .gnb li:nth-of-type(1) {
    display:flex; flex-flow:row nowrap; gap:60px; line-height:80px;
}
header .gnb_wrap .bottom_header .gnb li:nth-of-type(1) a {font-weight:1000;}
header .gnb_wrap .bottom_header .gnb li:nth-of-type(1):after {
    display:inline-block; content:'|';
}
header .gnb_wrap .bottom_header .right_menu {
    display:flex; flex-flow:row nowrap; gap:10px;
}
header .gnb_wrap .bottom_header .right_menu a {}
header .gnb_wrap .bottom_header .right_menu a:last-of-type {display:none;}
header .gnb_wrap .bottom_header .right_menu a img {}
/* <!-- ==============1행 --> */
.wrap {}
.wrap #main {}
.wrap #main .container {}
.wrap #main .container #main_ad {position:relative; height:780px;}
.wrap #main .container #main_ad .swiper-wrapper {width:100%; height:100vh;}
.wrap #main .container #main_ad .swiper-wrapper .swiper-slide {
    padding:30px 120px; height:780px;
    display:flex; flex-flow:column nowrap; justify-content: center; gap:30px;
}
.wrap #main .container #main_ad .swiper-wrapper .slide1 {
    background:url(../images/main/main_ad.png)no-repeat 60%;
}
.wrap #main .container #main_ad .swiper-wrapper .slide2 {
    background:url(../images/main/main_ad2.png)no-repeat 60%;
}
.wrap #main .container #main_ad .swiper-wrapper .slide3 {
    background:url(../images/main/main_ad3.png)no-repeat 60%;
}
.wrap #main .container #main_ad .swiper-wrapper .slide4 {
    background:url(../images/main/main_ad4.png)no-repeat 80%;
}
.wrap #main .container #main_ad .swiper-wrapper .slide5 {
    background:url(../images/main/main_ad5.png)no-repeat 50%;
}
.wrap #main .container #main_ad .swiper-wrapper .slide6 {
    background:url(../images/main/main_ad6.png)no-repeat 70%;
}
.wrap #main .container #main_ad .swiper-wrapper .slide1 h2 {color:#005D3E; letter-spacing:0;}
.wrap #main .container #main_ad .swiper-wrapper .swiper-slide h2:nth-of-type(1) {
    font-size:1.5rem; font-weight:500;
}
.wrap #main .container #main_ad .swiper-wrapper .slide1 h2:nth-of-type(1) {}
.wrap #main .container #main_ad .swiper-wrapper .slide2 h2:nth-of-type(1) {}
.wrap #main .container #main_ad .swiper-wrapper .slide3 h2:nth-of-type(1) {}
.wrap #main .container #main_ad .swiper-wrapper .slide4 h2:nth-of-type(1) {}
.wrap #main .container #main_ad .swiper-wrapper .slide5 h2:nth-of-type(1) {color:#fff;}
.wrap #main .container #main_ad .swiper-wrapper .slide6 h2:nth-of-type(1) {}
.wrap #main .container #main_ad .swiper-wrapper .swiper-slide h2:nth-of-type(2) {
    font-size:4rem; font-weight:600; line-height:1.2;
}
.wrap #main .container #main_ad .swiper-wrapper .swiper-slide h2:nth-of-type(2) em {
    font-size:4rem; font-weight:600; line-height:1.2;
}
.wrap #main .container #main_ad .swiper-wrapper .slide1 h2:nth-of-type(2) {}
.wrap #main .container #main_ad .swiper-wrapper .slide2 h2:nth-of-type(2) {}
.wrap #main .container #main_ad .swiper-wrapper .slide2 h2:nth-of-type(2) em {color:#2fcab0;}
.wrap #main .container #main_ad .swiper-wrapper .slide3 h2:nth-of-type(2) {}
.wrap #main .container #main_ad .swiper-wrapper .slide3 h2:nth-of-type(2) em {color:#FFA800;}
.wrap #main .container #main_ad .swiper-wrapper .slide4 h2:nth-of-type(2) {}
.wrap #main .container #main_ad .swiper-wrapper .slide4 h2:nth-of-type(2) em:nth-of-type(1) {color:#005D3E;}
.wrap #main .container #main_ad .swiper-wrapper .slide4 h2:nth-of-type(2) em:nth-of-type(2) {color:#FFA800;}
.wrap #main .container #main_ad .swiper-wrapper .slide5 h2:nth-of-type(2) {color:#fff;}
.wrap #main .container #main_ad .swiper-wrapper .slide5 h2:nth-of-type(2) em {color:#2fcab0;}
.wrap #main .container #main_ad .swiper-wrapper .slide6 h2:nth-of-type(2) {}
.wrap #main .container #main_ad .swiper-wrapper .slide1 h2:nth-of-type(3) {}
.wrap #main .container #main_ad .swiper-wrapper .slide1 h2:nth-of-type(3) img {}
.wrap #main .container #main_ad .swiper-wrapper .slide1  h2:nth-of-type(3) {}
.wrap #main .container #main_ad .swiper-wrapper .slide1  h2:nth-of-type(4) {}
.wrap #main .container .swiper-pagination {bottom:30px; position:relative;}
.wrap #main .container .swiper-pagination span {width:14px; height:14px; font-size:14px; background:url(../images/main/humidity_low.png) no-repeat center; margin-right:20px; opacity:1;}
.wrap #main .container .swiper-pagination span.swiper-pagination-bullet-active {background:url(../images/main/humidity_high.png) no-repeat center;}
.wrap #main .container .swiper-pagination span:last-of-type {margin-right:0;}
/* <!-- ==============2행 --> */
.wrap #category {padding:30px 0;}
.wrap #category .container {
    width:1250px; margin:0 auto;
    display:flex; flex-flow:row nowrap; gap:26.36px;
}
.wrap #category .container .category {
    display:flex; flex-flow:row nowrap; align-items:center; justify-content:space-between; gap:26.36px;
}
.wrap #category .container .category li {}
.wrap #category .container .category li a {
    display:flex; flex-flow:column wrap; align-items:center; gap:10px;
    font-size:0.75rem; width:80px; 
}
.wrap #category .container .category li a:hover img {box-shadow:0 0 10px rgba(0,0,0,0.3);}
.wrap #category .container .category li a img {
    position:relative; width:100%; 
    border:1px solid #f5f5f5; border-radius:50px; z-index:1;
}
.wrap #category .container .category li a img:before {
    background-color:#005D3E; position:absolute; z-index:0;
    content:""; width: 100%; height: 100%;top:0; left:0;
}
/* <!-- ==============3행 --> */
.wrap #best {padding:80px 0; width:1250px; margin:0 auto; position:relative;}
.wrap #best h2 {text-align:center; font-size:2.5rem; font-weight:600;}
.wrap #best > a {
    display:flex; flex-flow:row nowrap; justify-content:end; font-weight:400px; font-size:0.625rem; margin:10px 0 30px; gap:5px;
}
.wrap #best > a img {}
.wrap #best #best_items {}
.wrap #best #best_items .swiper-wrapper {}
.wrap #best #best_items .swiper-wrapper .swiper-slide {width:240px;}
.wrap #best #best_items .swiper-wrapper .swiper-slide > a {
    display:inline-block; position:relative; height:280px;  width:100%;
}
.wrap #best #best_items .swiper-wrapper .slide1 > a {
    background:url(../images/best/best_001.png); 
}
.wrap #best #best_items .swiper-wrapper .slide2 > a {
    background:url(../images/best/best_002.png);
}
.wrap #best #best_items .swiper-wrapper .slide3 > a {
    background:url(../images/best/best_003.png);
}
.wrap #best #best_items .swiper-wrapper .slide4 > a {
    background:url(../images/best/best_004.png); 
}
.wrap #best #best_items .swiper-wrapper .slide5 > a {
    background:url(../images/best/best_005.png);
}
.wrap #best #best_items .swiper-wrapper .slide6 > a {
    background:url(../images/best/best_006.png);
}
.wrap #best #best_items .swiper-wrapper .slide7 > a {
    background:url(../images/best/best_007.png);
}
.wrap #best #best_items .swiper-wrapper .swiper-slide > a span {
    background-color:#005D3E; position:absolute; left:0; top:0;
    width:19px; line-height:26px; color:#fff; text-align:center;
    border-radius:0 0 10px 0; font-size:0.75rem;
}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents {
    width:100%; height:100px; display:flex; flex-flow:column nowrap; justify-content:space-between; margin:20px 0;
}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .title .tag {
    display:flex; flex-flow:row nowrap; gap:10px;
}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .title .tag > a {font-size:0.688rem; border:1px solid #005D3E; padding:3px 10px; border-radius:12px; color:#005D3E;}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .title .tag > a:first-of-type {}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .title .tag > a:last-of-type {}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .title p {
    font-size:0.875rem; margin-top:10px; line-height:1.2;
}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .price {display:flex; flex-flow:row nowrap; justify-content:space-between;}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .price .left_price {}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .price .left_price span {font-weight:600;}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .price .left_price del {font-size:0.625rem; color:#aaa; margin-left:10px;}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .price p {font-size:0.875rem; font-weight:800; color:#005D3E;}
.wrap #best .swiper-button-prev {background:url(../images/rg/arrow_back_ios_new.png); left:-100px;}
.wrap #best .swiper-button-prev::after {display:none;}
.wrap #best .swiper-button-next {background:url(../images/rg/arrow_back_ios_new.png); transform:scaleX(-1); right:-100px; }
.wrap #best .swiper-button-next::after {display:none;}
.wrap #best .swiper-scrollbar {
    width:450px; left:50%; transform:translateX(-50%);
}
/* <!-- ==============4행 --> */
.wrap #new {padding:80px 0; width:1250px; margin:0 auto 80px; position:relative;}
.wrap #new h2 {text-align:center; font-size:2.5rem; font-weight:600;}
.wrap #new > a {
    display:flex; flex-flow:row nowrap; justify-content:end; font-weight:400px; font-size:0.625rem; margin:10px 0 30px; gap:5px;
}
.wrap #new > a img {}
.wrap #new #new_items {}
.wrap #new #new_items .swiper-wrapper {}
.wrap #new #new_items .swiper-wrapper .swiper-slide {width:240px;}
.wrap #new #new_items .swiper-wrapper .swiper-slide > a {
    display:inline-block; position:relative; height:280px;  width:100%;
}
.wrap #new #new_items .swiper-wrapper .slide1 > a {
    background:url(../images/new/new001.png); 
}
.wrap #new #new_items .swiper-wrapper .slide2 > a {
    background:url(../images/new/new002.png); 
}
.wrap #new #new_items .swiper-wrapper .slide3 > a {
    background:url(../images/new/new003.png); 
}
.wrap #new #new_items .swiper-wrapper .slide4 > a {
    background:url(../images/new/new004.png);  
}
.wrap #new #new_items .swiper-wrapper .slide5 > a {
    background:url(../images/new/new005.png); 
}
.wrap #new #new_items .swiper-wrapper .slide6 > a {
    background:url(../images/new/new006.png); 
}
.wrap #new #new_items .swiper-wrapper .slide7 > a {
    background:url(../images/new/new007.png); 
}
.wrap #new #new_items .swiper-wrapper .swiper-slide > a span {
    background-color:#005D3E; position:absolute; left:0; top:0;
    width:19px; line-height:26px; color:#fff; text-align:center;
    border-radius:0 0 10px 0; font-size:0.75rem;
}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents {
    width:100%; height:100px; display:flex; flex-flow:column nowrap; justify-content:space-between; margin:20px 0;
}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .title .tag {
    display:flex; flex-flow:row nowrap; gap:10px;
}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .title .tag > a {font-size:0.688rem; border:1px solid #005D3E; padding:3px 10px; border-radius:12px; color:#005D3E;}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .title .tag > a:first-of-type {}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .title .tag > a:last-of-type {}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .title p {
    font-size:0.875rem; margin-top:10px; line-height:1.2;
}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .price {display:flex; flex-flow:row nowrap; justify-content:space-between;}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .price .left_price {}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .price .left_price span {font-weight:600;}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .price .left_price del {font-size:0.625rem; color:#aaa; margin-left:10px;}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .price p {font-size:0.875rem; font-weight:800; color:#005D3E;}
.wrap #new .swiper-button-prev {background:url(../images/rg/arrow_back_ios_new.png); left:-100px;}
.wrap #new .swiper-button-prev::after {display:none;}
.wrap #new .swiper-button-next {background:url(../images/rg/arrow_back_ios_new.png); transform:scaleX(-1); right:-100px;}
.wrap #new .swiper-button-next::after {display:none;}
.wrap #new .swiper-scrollbar {
    width:450px; left:50%; transform:translateX(-50%);
}
/* <!-- ==============5행 --> */
.wrap #skin_type {background-color:#f5f5f5;}
.wrap #skin_type .skin_type_wrap {padding:80px 0; width:1250px; margin:0 auto;}
.wrap #skin_type .skin_type_wrap h2 {text-align:center; font-size:2.188rem; font-weight:600;}
.wrap #skin_type .skin_type_wrap h2 em {font-size:1rem; font-weight:400;}
.wrap #skin_type .skin_type_wrap .analysis {
    margin-top:50px; display:flex; flex-flow:row nowrap; justify-content:space-between;
    align-items:center;
}
.wrap #skin_type .skin_type_wrap .analysis .contents {}
.wrap #skin_type .skin_type_wrap .analysis .contents h3 {
    font-size:1.875rem; font-weight:600;
}
.wrap #skin_type .skin_type_wrap .analysis .contents p {
    margin:20px 0 50px; line-height:1.7;
}
.wrap #skin_type .skin_type_wrap .analysis .contents p strong {font-weight:600;}
.wrap #skin_type .skin_type_wrap .analysis .contents #analysis_start {
    font-size:0.875rem; background-color:#005D3E; color:#fff;
    border-radius:25px; padding:14px 20px;
}
.wrap #skin_type .skin_type_wrap .analysis .vedio {
    width:600px; height:450px; background:url(../images/ad2/face_scan.gif) no-repeat center / 80%;
}
/* <!-- ==============6행 --> */
.wrap #video_wrap {width:1250px; margin:0 auto; padding:80px 0; position:relative;}
.wrap #video_wrap #video_all {}
.wrap #video_wrap #video_all .swiper-wrapper {}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide {}
.wrap #video_wrap #video_all .swiper-wrapper .slide1 {}
.wrap #video_wrap #video_all .swiper-wrapper .slide2 {}
.wrap #video_wrap #video_all .swiper-wrapper .slide3 {}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide h2:first-of-type {
    text-align:center; font-weight:500;
}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide h2:first-of-type strong {
    font-size:1.25rem; font-weight:700; color:#FB0035;
}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide h2:first-of-type em:first-of-type {
    font-size:1.25rem; font-weight:700; color:#FB0035;
}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide h2:first-of-type em:last-of-type {
    font-size:1.25rem; font-weight:700; color:#005D3E;
}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide h2:last-of-type {
    text-align:center; font-size:2.5rem; font-weight:600; margin:10px 0 50px;
}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide .contents {
    display:flex; flex-flow:row nowrap; width:1250px; margin:0 auto; justify-content:space-between;
}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide .contents iframe {width:780px; height:458px;}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide .contents .products {
    display:flex; flex-flow:column nowrap; justify-content:space-between; width:400px;
}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide .contents .products li {
    display:flex; flex-flow:row nowrap; gap:10px;
}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide .contents .products li a {}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide .contents .products li a img {}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide .contents .products li .p_price {
    display:flex; flex-flow:column nowrap; justify-content:space-between;
}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide .contents .products li .p_price .title {
    font-size:0.875rem; line-height:1.7;
}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide .contents .products li .p_price .price {}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide .contents .products li .p_price .price span:nth-of-type(1) {font-size:0.875rem; font-weight:600;}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide .contents .products li .p_price .price del {font-size:0.625rem; color:#aaa; margin:0 5px;}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide .contents .products li .p_price .price span:nth-of-type(2)::before {content:'|'; margin-right:5px;}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide .contents .products li .p_price .price span:nth-of-type(2) {font-size:0.75rem; font-weight:500;}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide .contents .products li .p_price .price a {}
.wrap #video_wrap #video_all .swiper-wrapper .swiper-slide .contents .products li .p_price .price a img {float:right;}
.wrap #video_wrap .swiper-button-prev {background:url(../images/rg/arrow_back_ios_new.png);  left:-100px;}
.wrap #video_wrap .swiper-button-prev::after {display:none;}
.wrap #video_wrap .swiper-button-next {background:url(../images/rg/arrow_back_ios_new.png); transform:scaleX(-1); right:-100px;}
.wrap #video_wrap .swiper-button-next::after {display:none;}
/* <!-- ==============7행 --> */
.wrap #ad_bnr {}
.wrap #ad_bnr #ad_bnr_swiper {}
.wrap #ad_bnr #ad_bnr_swiper .swiper-wrapper {}
.wrap #ad_bnr #ad_bnr_swiper .swiper-wrapper .slide1 {}
.wrap #ad_bnr #ad_bnr_swiper .swiper-wrapper .swiper-slide img {width:100%;}
/* <!-- ==============8행 --> */
.wrap #event {padding:80px 0;}
.wrap #event .event_wrap {
    width:1680px; margin:0 auto; display:flex; flex-flow:row nowrap;
}
.wrap #event .event_wrap * {text-align:center;}
.wrap #event .event_wrap .benefit {}
.wrap #event .event_wrap .benefit a {}
.wrap #event .event_wrap .benefit a img {}
.wrap #event .event_wrap .benefit h3 {font-size:1.25rem; font-weight:600; margin:30px 0 10px;}
.wrap #event .event_wrap .benefit p {font-size:0.875rem;}
/* <!-- ==============9행 --> */
.wrap #brand_wrap {padding-top:50px;}
.wrap #brand_wrap h2 {
    margin-bottom:50px; font-size:2.5rem; font-weight:600;
    text-align:center;
}
.wrap #brand_wrap .brand_name {
    display:flex; 
}
.wrap #brand_wrap .brand_name .brand {
    position:relative;
    background-color:aqua; width:480px; height:480px;
}
.wrap #brand_wrap .brand_name .drg {background:url(../images/brand/drg.png);}
.wrap #brand_wrap .brand_name .vividraw {background:url(../images/brand/vividraw.png);}
.wrap #brand_wrap .brand_name .heal_us {background:url(../images/brand/heal_us.png);}
.wrap #brand_wrap .brand_name .lab_it {background:url(../images/brand/lab_it.png);}
/* 호버하면 보이는 구간 */
.wrap #brand_wrap .brand_name .brand .contents_bg {
    opacity:0; position:absolute; left:0; top:0; width:100%; height:100%;
    background-color:rgba(0,0,0,0.5);
    display:flex; flex-flow:column nowrap; justify-content:center; align-items:center; gap:30px;
}
.wrap #brand_wrap .brand_name .brand:hover .contents_bg {opacity:100;}
.wrap #brand_wrap .brand_name .brand .contents_bg p {color:#fff; font-size:1.25rem; font-weight:500;}
.wrap #brand_wrap .brand_name .brand .contents_bg p img {}
/* ============ footer부분 */
footer {background-color:#222; padding:80px 0;}
footer * {color:#fff;}
footer .footer_all {
    width:1250px; margin:0 auto; display:flex; flex-flow:row nowrap; justify-content:space-between;
}
footer .footer_all .left {}
footer .footer_all .left .fnb {
    display:flex; flex-flow:row nowrap; gap:50px; align-items:center; margin-bottom:30px;
}
footer .footer_all .left .fnb h1 {}
footer .footer_all .left .fnb h1 a {}
footer .footer_all .left .fnb h1 a img {}
footer .footer_all .left .fnb > a {font-size:0.75rem;}
footer .footer_all .left .fnb .brand_info {}
footer .footer_all .left .fnb .recruitment {}
footer .footer_all .left .fnb .terms {}
footer .footer_all .left .fnb .personal {}
footer .footer_all .left .fnb .cs {}
footer .footer_all .left .fnb .benefits {}
footer .footer_all .left .fnb .affiliates {}
footer .footer_all .left .bottom {
    display:flex; flex-flow:column nowrap; gap:10px;
}
footer .footer_all .left .bottom .drg {margin-bottom:10px;}
footer .footer_all .left .bottom .drg * {font-size:0.75rem;}
footer .footer_all .left .bottom .drg span:nth-of-type(1) {}
footer .footer_all .left .bottom .drg span:nth-of-type(1)::after {content:'|'; margin:0 10px;}
footer .footer_all .left .bottom .drg span:nth-of-type(2) {}
footer .footer_all .left .bottom address {font-size:0.625rem;}
footer .footer_all .left .bottom .com_info {
    display:flex; flex-flow:row nowrap; align-items:center;
}
footer .footer_all .left .bottom .com_info * {font-size:0.625rem;}
footer .footer_all .left .bottom .com_info span {}
footer .footer_all .left .bottom .com_info span::after {content:'|'; margin:0 10px;}
footer .footer_all .left .bottom .com_info span:nth-of-type(1) {}
footer .footer_all .left .bottom .com_info span:nth-of-type(2) {}
footer .footer_all .left .bottom .com_info span:nth-of-type(3) {margin-right:10px;}
footer .footer_all .left .bottom .com_info span:nth-of-type(3)::after {display:none;}
footer .footer_all .left .bottom .com_info a {border:1px solid #fff; padding:5px 10px;}
footer .footer_all .left .bottom .com_info .business_info {margin:0 10px;}
footer .footer_all .left .bottom .com_info .business_info img {margin-left:10px;}
footer .footer_all .left .bottom .com_info .sustainable {}
footer .footer_all .left .bottom .com_info .sustainable img {margin-left:10px;}
footer .footer_all .left .bottom .language {display:flex; flex-flow:row nowrap; align-items:center; gap:30px;}
footer .footer_all .left .bottom .language * {font-size:0.625rem;}
footer .footer_all .left .bottom .language a {
    border-bottom:1px solid #fff; padding:5px 0;
    display:flex; flex-flow:row nowrap; align-items:center; gap:50px;
}
footer .footer_all .left .bottom .language a span {display:flex; flex-flow:row nowrap; align-items:center;}
footer .footer_all .left .bottom .language a span img {margin-right:10px;}
footer .footer_all .left .bottom .language a > img {}
footer .footer_all .left .bottom .language > span {}
footer .footer_all aside {}
footer .footer_all aside .sns {display:flex; flex-flow:row nowrap; gap:10px; margin-bottom:30px;}
footer .footer_all aside .sns img {}
footer .footer_all aside .sns .facebook {}
footer .footer_all aside .sns .insta {}
footer .footer_all aside .sns .kakao {}
footer .footer_all aside .sns .youtube {}
footer .footer_all aside .cs_center {
    display:flex; flex-flow:column nowrap; gap:10px;
}
footer .footer_all aside .cs_center p {}
footer .footer_all aside .cs_center .call {font-size:0.75rem;}
footer .footer_all aside .cs_center .call a {}
footer .footer_all aside .cs_center .week {font-size:0.625rem;}
footer .footer_all aside .cs_center .lunch {font-size:0.625rem;}
footer .footer_all aside .cs_center .holiday {font-size:0.625rem;}