/* ============ header부분 */
html,body * {transition:all 0.3s;}
header {}
header .top_ad {
    width:100%; height:50px;
    background:url(../images/main/ad.png) center;
}
header .top_ad p {text-align:center; line-height:50px; font-size:1.125rem; font-weight:600;}
header .gnb_wrap {
    width:100%; height:80px; padding:0 120px;
    display:flex; flex-flow:column nowrap; justify-content:center;
}
header .gnb_wrap .bottom_header {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    position:relative;
}
header .gnb_wrap .bottom_header h1 {}
header .gnb_wrap .bottom_header h1 a {}
header .gnb_wrap .bottom_header h1 a img {}
header .gnb_wrap .bottom_header .gnb {
    display:flex; flex-flow:row nowrap; gap:60px;
    position:absolute; left:50%; transform:translateX(-50%);
}
header .gnb_wrap .bottom_header .gnb li {}
header .gnb_wrap .bottom_header .gnb li a {
    display:block; font-size:0.875rem; width:42px; line-height:80px;
}
header .gnb_wrap .bottom_header .gnb li:nth-of-type(1) {
    display:flex; flex-flow:row nowrap; gap:60px; line-height:80px;
}
header .gnb_wrap .bottom_header .gnb li:nth-of-type(1) a {font-weight:1000;}
header .gnb_wrap .bottom_header .gnb li:nth-of-type(1):after {
    display:inline-block; content:'|';
}
header .gnb_wrap .bottom_header .right_menu {
    display:flex; flex-flow:row nowrap; gap:10px;
}
header .gnb_wrap .bottom_header .right_menu a {}
header .gnb_wrap .bottom_header .right_menu a:last-of-type {display:none;}
header .gnb_wrap .bottom_header .right_menu a img {}
/* <!-- ==============1행 --> */
.wrap {}
.wrap #main {}
.wrap #main .container {}
.wrap #main .container #main_ad {position:relative; height:780px;}
.wrap #main .container #main_ad .swiper-wrapper {width:100%; height:100vh;}
.wrap #main .container #main_ad .swiper-wrapper .swiper-slide {
    padding:30px 120px; height:780px;
    display:flex; flex-flow:column nowrap; justify-content: center; gap:30px;
}
.wrap #main .container #main_ad .swiper-wrapper .slide1 {
    background:url(../images/main/main_ad.png)no-repeat 60%;
}
.wrap #main .container #main_ad .swiper-wrapper .slide2 {
    background:url(../images/main/main_ad2.png)no-repeat 60%;
}
.wrap #main .container #main_ad .swiper-wrapper .slide3 {
    background:url(../images/main/main_ad3.png)no-repeat 60%;
}
.wrap #main .container #main_ad .swiper-wrapper .slide4 {
    background:url(../images/main/main_ad4.png)no-repeat 80%;
}
.wrap #main .container #main_ad .swiper-wrapper .slide5 {
    background:url(../images/main/main_ad5.png)no-repeat 50%;
}
.wrap #main .container #main_ad .swiper-wrapper .slide6 {
    background:url(../images/main/main_ad6.png)no-repeat 70%;
}
.wrap #main .container #main_ad .swiper-wrapper .slide1 h2 {color:#005D3E; letter-spacing:0;}
.wrap #main .container #main_ad .swiper-wrapper .swiper-slide h2:nth-of-type(1) {
    font-size:1.5rem; font-weight:500;
}
.wrap #main .container #main_ad .swiper-wrapper .slide1 h2:nth-of-type(1) {}
.wrap #main .container #main_ad .swiper-wrapper .slide2 h2:nth-of-type(1) {}
.wrap #main .container #main_ad .swiper-wrapper .slide3 h2:nth-of-type(1) {}
.wrap #main .container #main_ad .swiper-wrapper .slide4 h2:nth-of-type(1) {}
.wrap #main .container #main_ad .swiper-wrapper .slide5 h2:nth-of-type(1) {color:#fff;}
.wrap #main .container #main_ad .swiper-wrapper .slide6 h2:nth-of-type(1) {}
.wrap #main .container #main_ad .swiper-wrapper .swiper-slide h2:nth-of-type(2) {
    font-size:4rem; font-weight:600; line-height:1.2;
}
.wrap #main .container #main_ad .swiper-wrapper .swiper-slide h2:nth-of-type(2) em {
    font-size:4rem; font-weight:600; line-height:1.2;
}
.wrap #main .container #main_ad .swiper-wrapper .slide1 h2:nth-of-type(2) {}
.wrap #main .container #main_ad .swiper-wrapper .slide2 h2:nth-of-type(2) {}
.wrap #main .container #main_ad .swiper-wrapper .slide2 h2:nth-of-type(2) em {color:#2fcab0;}
.wrap #main .container #main_ad .swiper-wrapper .slide3 h2:nth-of-type(2) {}
.wrap #main .container #main_ad .swiper-wrapper .slide3 h2:nth-of-type(2) em {color:#FFA800;}
.wrap #main .container #main_ad .swiper-wrapper .slide4 h2:nth-of-type(2) {}
.wrap #main .container #main_ad .swiper-wrapper .slide4 h2:nth-of-type(2) em:nth-of-type(1) {color:#005D3E;}
.wrap #main .container #main_ad .swiper-wrapper .slide4 h2:nth-of-type(2) em:nth-of-type(2) {color:#FFA800;}
.wrap #main .container #main_ad .swiper-wrapper .slide5 h2:nth-of-type(2) {color:#fff;}
.wrap #main .container #main_ad .swiper-wrapper .slide5 h2:nth-of-type(2) em {color:#2fcab0;}
.wrap #main .container #main_ad .swiper-wrapper .slide6 h2:nth-of-type(2) {}
.wrap #main .container #main_ad .swiper-wrapper .slide1 h2:nth-of-type(3) {}
.wrap #main .container #main_ad .swiper-wrapper .slide1 h2:nth-of-type(3) img {}
.wrap #main .container #main_ad .swiper-wrapper .slide1  h2:nth-of-type(3) {}
.wrap #main .container #main_ad .swiper-wrapper .slide1  h2:nth-of-type(4) {}
.wrap #main .container .swiper-pagination {bottom:30px; position:relative;}
.wrap #main .container .swiper-pagination span {width:14px; height:14px; font-size:14px; background:url(../images/main/humidity_low.png) no-repeat center; margin-right:20px; opacity:1;}
.wrap #main .container .swiper-pagination span.swiper-pagination-bullet-active {background:url(../images/main/humidity_high.png) no-repeat center;}
.wrap #main .container .swiper-pagination span:last-of-type {margin-right:0;}
/* <!-- ==============2행 --> */
.wrap #category {padding:30px 0;}
.wrap #category .container {
    width:1250px; margin:0 auto;
    display:flex; flex-flow:row nowrap; gap:26.36px;
}
.wrap #category .container .category {
    display:flex; flex-flow:row nowrap; align-items:center; justify-content:space-between; gap:26.36px;
}
.wrap #category .container .category li {}
.wrap #category .container .category li a {
    display:flex; flex-flow:column wrap; align-items:center; gap:10px;
    font-size:0.75rem; width:80px; 
}
.wrap #category .container .category li a:hover img {box-shadow:0 0 10px rgba(0,0,0,0.3);}
.wrap #category .container .category li a img {
    position:relative; width:100%; 
    border:1px solid #f5f5f5; border-radius:50px; z-index:1;
}
.wrap #category .container .category li a img:before {
    background-color:#005D3E; position:absolute; z-index:0;
    content:""; width: 100%; height: 100%;top:0; left:0;
}
/* <!-- ==============3행 --> */
.wrap #best {padding:80px 0; width:1250px; margin:0 auto; position:relative;}
.wrap #best h2 {text-align:center; font-size:2.5rem; font-weight:600;}
.wrap #best > a {
    display:flex; flex-flow:row nowrap; justify-content:end; font-weight:400px; font-size:0.625rem; margin:10px 0 30px; gap:5px;
}
.wrap #best > a img {}
.wrap #best #best_items {}
.wrap #best #best_items .swiper-wrapper {}
.wrap #best #best_items .swiper-wrapper .swiper-slide {width:240px;}
.wrap #best #best_items .swiper-wrapper .swiper-slide > a {
    display:inline-block; position:relative; height:280px;  width:100%;
}
.wrap #best #best_items .swiper-wrapper .slide1 > a {
    background:url(../images/best/best_001.png); 
}
.wrap #best #best_items .swiper-wrapper .slide2 > a {
    background:url(../images/best/best_002.png);
}
.wrap #best #best_items .swiper-wrapper .slide3 > a {
    background:url(../images/best/best_003.png);
}
.wrap #best #best_items .swiper-wrapper .slide4 > a {
    background:url(../images/best/best_004.png); 
}
.wrap #best #best_items .swiper-wrapper .slide5 > a {
    background:url(../images/best/best_005.png);
}
.wrap #best #best_items .swiper-wrapper .slide6 > a {
    background:url(../images/best/best_006.png);
}
.wrap #best #best_items .swiper-wrapper .slide7 > a {
    background:url(../images/best/best_007.png);
}
.wrap #best #best_items .swiper-wrapper .swiper-slide > a span {
    background-color:#005D3E; position:absolute; left:0; top:0;
    width:19px; line-height:26px; color:#fff; text-align:center;
    border-radius:0 0 10px 0; font-size:0.75rem;
}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents {
    width:100%; height:100px; display:flex; flex-flow:column nowrap; justify-content:space-between; margin:20px 0;
}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .title .tag {
    display:flex; flex-flow:row nowrap; gap:10px;
}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .title .tag > a {font-size:0.688rem; border:1px solid #005D3E; padding:3px 10px; border-radius:12px; color:#005D3E;}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .title .tag > a:first-of-type {}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .title .tag > a:last-of-type {}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .title p {
    font-size:0.875rem; margin-top:10px; line-height:1.2;
}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .price {display:flex; flex-flow:row nowrap; justify-content:space-between;}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .price .left_price {}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .price .left_price span {font-weight:600;}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .price .left_price del {font-size:0.625rem; color:#aaa; margin-left:10px;}
.wrap #best #best_items .swiper-wrapper .swiper-slide .contents .price p {font-size:0.875rem; font-weight:800; color:#005D3E;}
.wrap #best .swiper-scrollbar {
    width:450px; margin:50px auto; left:50%; transform:translateX(-50%);
}
/* <!-- ==============4행 --> */
.wrap #new {padding:80px 0; width:1250px; margin:0 auto; position:relative;}
.wrap #new h2 {text-align:center; font-size:2.5rem; font-weight:600;}
.wrap #new > a {
    display:flex; flex-flow:row nowrap; justify-content:end; font-weight:400px; font-size:0.625rem; margin:10px 0 30px; gap:5px;
}
.wrap #new > a img {}
.wrap #new #new_items {}
.wrap #new #new_items .swiper-wrapper {}
.wrap #new #new_items .swiper-wrapper .swiper-slide {width:240px;}
.wrap #new #new_items .swiper-wrapper .swiper-slide > a {
    display:inline-block; position:relative; height:280px;  width:100%;
}
.wrap #new #new_items .swiper-wrapper .slide1 > a {
    background:url(../images/new/new001.png); 
}
.wrap #new #new_items .swiper-wrapper .slide2 > a {
    background:url(../images/new/new002.png); 
}
.wrap #new #new_items .swiper-wrapper .slide3 > a {
    background:url(../images/new/new003.png); 
}
.wrap #new #new_items .swiper-wrapper .slide4 > a {
    background:url(../images/new/new004.png);  
}
.wrap #new #new_items .swiper-wrapper .slide5 > a {
    background:url(../images/new/new005.png); 
}
.wrap #new #new_items .swiper-wrapper .slide6 > a {
    background:url(../images/new/new006.png); 
}
.wrap #new #new_items .swiper-wrapper .slide7 > a {
    background:url(../images/new/new007.png); 
}
.wrap #new #new_items .swiper-wrapper .swiper-slide > a span {
    background-color:#005D3E; position:absolute; left:0; top:0;
    width:19px; line-height:26px; color:#fff; text-align:center;
    border-radius:0 0 10px 0; font-size:0.75rem;
}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents {
    width:100%; height:100px; display:flex; flex-flow:column nowrap; justify-content:space-between; margin:20px 0;
}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .title .tag {
    display:flex; flex-flow:row nowrap; gap:10px;
}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .title .tag > a {font-size:0.688rem; border:1px solid #005D3E; padding:3px 10px; border-radius:12px; color:#005D3E;}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .title .tag > a:first-of-type {}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .title .tag > a:last-of-type {}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .title p {
    font-size:0.875rem; margin-top:10px; line-height:1.2;
}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .price {display:flex; flex-flow:row nowrap; justify-content:space-between;}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .price .left_price {}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .price .left_price span {font-weight:600;}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .price .left_price del {font-size:0.625rem; color:#aaa; margin-left:10px;}
.wrap #new #new_items .swiper-wrapper .swiper-slide .contents .price p {font-size:0.875rem; font-weight:800; color:#005D3E;}
.wrap #swiper-button-prev {}
.wrap #swiper-button-next {}
.wrap #new .swiper-scrollbar {
    width:450px; margin:50px auto; left:50%; transform:translateX(-50%);
}